# ==============================================================================
# AgroSedam - Variables d'environnement pour Production cPanel (agrosedam.tdjel.com)
# ==============================================================================

# Sécurité Django
DJANGO_SECRET_KEY=django-insecure-&b7s1lk+!5aocv--p!xs9!=rf87!$*acpu3e6rm7_gt$d-p=fj
DEBUG=False

# Domaines autorisés & CSRF (HTTPS)
DJANGO_ALLOWED_HOSTS=agrosedam.tdjel.com,www.agrosedam.tdjel.com,tdjel.com,www.tdjel.com,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://agrosedam.tdjel.com,https://www.agrosedam.tdjel.com,https://tdjel.com,https://www.tdjel.com

# Base de données MySQL (o2switch / cPanel)
USE_MYSQL=False
# DB_NAME=tdjel_agrosedam
# DB_USER=tdjel_user
# DB_PASSWORD=MotDePasseFort123!
# DB_HOST=localhost
# DB_PORT=3306

# Configuration Emails SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=ssl0.ovh.net
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=contact@tdjel.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe
DEFAULT_FROM_EMAIL=contact@tdjel.com
